<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huxl.ssm.dao.EmployeeMapper">
    <!--开启缓存-->

	<select id="getAllEmps" resultType="com.huxl.ssm.bean.Employee">
		select * from employee
	</select>

</mapper>